{% for item in Added %}
    inside for
    {{ item.id }}
    <tr class="table-primary">
        <th scope="row">{{ item.name_Long }}</th>
        <td>
        <div class="form-group">
            <input style="max-width: 3rem;" type="number" min="1" max="2000" maxlength="4" size="2" value="1" name="qtySelect{{item.id}}" id="qtySelect{{item.id}}"></input>
        </div>
        </td>
        <td>
            <fieldset class="form-group">
                <label class="form-check-label px-1">
                    <input type="radio" class="form-check-input" name="selectPackage{{item.id}}" id="{{item.id}}package1" value="1" checked="">
                    Basic
                </label>
                <label class="form-check-label px-1">
                    <input type="radio" class="form-check-input" name="selectPackage{{item.id}}" id="{{item.id}}package2" value="option2">
                    Plus
                </label>
                <label class="form-check-label px-1">
                    <input type="radio" class="form-check-input" name="selectPackage{{item.id}}" id="{{item.id}}package3" value="option3">
                    Pro
                </label>
            </fieldset>
        </td>
    </tr>
{% endfor %}
