{% if Added.0 %}
    <h2 id="optionsTableHeader">3. Your Real Time Quote:</h2>
    <table class="table">
        <thead>
        <tr class="table bg-success text-light" id="tableheadrow">
            <th scope="col" >Service</th>
            <th scope="col" class="text-center" >Quantity</th>
            <th scope="col" class="text-center" >Package</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="bg-success bg-opacity-10" id="tbody">
        {% for category in Categories_Added %}
            <tr class="table">
                <td class="py-0" scope="row"><strong>{{ category }}:</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for item in Added %}
                {% if item.category == category %}
                    
                    <tr class="table">
                        <td class="py-0" scope="row">{{ item.name_Long }}</td>
                        <td class="text-center py-0">
                            {{item.qty}}
                        </td>
                        <td class="text-center py-0">
                            {{item.package}}
                        </td>
                        <td class="text-end py-0">
                            ${{item.runningPrice}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr class="table" id="subtotal_row">
            <td scope="row"></td>
            <td></td>
            <td class="text-end py-0">
                <strong>Subtotal:</strong>
            </td>
            
            <td class="text-end py-0">
                ${{subtotal}}
            </td>
        </tr>
        <tr class="table" id="tax_row">
            <td scope="row"></td>
            <td></td>
            <td class="text-end py-0">
                <strong>Tax:</strong>
            </td>
            
            <td class="text-end py-0">
                ${{tax}}
            </td>
        </tr>
        <tr class="table" id="total_row">
            <td scope="row"></td>
            <td></td>
            <td class="text-end py-0">
                <strong>Total:</strong>
            </td>
            
            <td class="text-end py-0">
                <strong>${{total}}</strong>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- buttons for quote -->
    <div class="row" id="quoteButtons">
        <div class="col-auto">
          <a href="{% url 'quote:clear_quote' %}" class="btn btn-outline-danger">Clear</a>
        </div>
        <div class="col">
          <form action="{% url 'quote:save_quote' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-info">Save</button>
          </form>
        </div>
      

        <div class="col-auto">
          <!-- <form action="{% url 'quote:schedule' %}" method="GET"></form> -->
            <!-- Calendly inline widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <!-- Calendly inline widget end -->
            <a href="" class="btn btn-success" 
            onclick="Calendly.initPopupWidget({
                url: 'https://calendly.com/royalcarpetclean/60?location={{ customer.addresses.all.0.address }},%20{{ customer.addresses.all.0.city }}%20{{ customer.addresses.all.0.state }},%20{{ customer.addresses.all.0.zipcode }}',
                prefill: {
                        name: '{{ customer.first_name }} {{ customer.last_name }}',
                        email: '{{ customer.email }}',
                        location: '{{ customer.addresses.all.0.address }}, {{ customer.addresses.all.0.city }}, {{ customer.addresses.all.0.state }}, {{ customer.addresses.all.0.zipcode }}',
                        customAnswers: {
                            a1: '{% for category in Categories_Added %}{{ category }}\n{% for item in Added %}{% if item.category == category %}{{ item.name_Long }}(QTY: {{item.qty}}) (Package: {{item.package}}) ${{item.runningPrice}}\n{% endif %}{% endfor %}{% endfor %}\nSubtotal: ${{subtotal}}\nTax: ${{tax}}\nDeposit: -$100.00\n Due at time of service:{{stillDue}}',
                        }
                    },
                    utm: {},
                    event: 'calendly.date_and_time_selected',
                    payload: {}
                });
                return false;">
                Schedule Now
            </a> 
        
        </div>
    </div>
{% endif %}





