{% for category in Categories_Added %}
    <tr class="table">
        <td scope="row"><strong>{{ category }}:</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for item in Added %}
        {% if item.category == category %}
            
            <tr class="table">
                <td scope="row">{{ item.name_Long }}</td>
                <td>
                    {{item.qty}}
                </td>
                <td>
                    {{item.package}}
                </td>
                <td>
                    {{item.price_basic}}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
