{% if Added.0 %}
    <h2>3. Your Real Time Quote:</h2>
    <table class="table bg-success bg-opacity-10">
        <thead>
        <tr class="table">
            <th scope="col" >Service</th>
            <th scope="col" class="text-center" >Quantity</th>
            <th scope="col" class="text-center" >Package</th>
            <th></th>
        </tr>
        </thead>
        <tbody >
        {% for category in Categories_Added %}
            <tr class="table">
                <td scope="row"><strong>{{ category }}:</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for item in Added %}
                {% if item.category == category %}
                    
                    <tr class="table">
                        <td scope="row">{{ item.name_Long }}</td>
                        <td class="text-center">
                            {{item.qty}}
                        </td>
                        <td class="text-center">
                            {{item.package}}
                        </td>
                        <td class="text-end">
                            ${{item.runningPrice}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr class="table">
            <td scope="row"></td>
            <td></td>
            <td class="text-end">
                <strong>Subtotal:</strong>
            </td>
            
            <td class="text-end">
                ${{subtotal}}
            </td>
        </tr>
        <tr class="table">
            <td scope="row"></td>
            <td></td>
            <td class="text-end">
                <strong>Tax:</strong>
            </td>
            
            <td class="text-end">
                ${{tax}}
            </td>
        </tr>
        <tr class="table">
            <td scope="row"></td>
            <td></td>
            <td class="text-end">
                <strong>Total:</strong>
            </td>
            
            <td class="text-end">
                ${{total}}
            </td>
        </tr>
        </tbody>
    </table>
{% endif %}





